body {
	background-color: #F3F3F3;
	padding: 0;
	margin: 0;
	}

p {
	font-family: arial;
	font-size: 16px;
}

a {
	cursor: pointer;
}

.titulo-padrao
{
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: bold;
	font-size: 30px;
	margin-top: 26px;
}

.icon-bar {
	background-color: blue;
}

#menumobile {
	background-color: #f3f3f3;
	position: fixed;
	z-index: 9999999999;
	padding: 0px !important;
	height: 45px !important;
}

.videos {
	margin-bottom: 25px;
}

@media (min-width: 992px) { 
	#topo {
		background-image: url(../imagens_site/site.jpg);
		background-size: 100% 90%;
		height: 185px;
		background-repeat: no-repeat;
		margin-top: 0px;
		width: 100%;
	}
}

@media (max-width: 991px) { 
	#topo {
		background-image: url(../imagens_site/site-cel.jpg);
		background-size: 100% 90%;
		height: 185px;
		background-repeat: no-repeat;
		margin-top: 0px;
		width: 100%;
	}
}

.img-logo {
	width: 105px;
	margin-bottom: 0px;
	margin-top: 5px;
}

.img-logo-rodape{
	width: 24%;
	margin: auto;
	float: none;
}


#menudd {
	background-color: #CECFD1;
}
.drop>a {
	background-color: #CECFD1;
	border: 3px solid #BDBEC1	 !important;
}
.drop>a:hover {
	background-color: #ACCBFF !important;
	font-weight: bold !important;
	font-size: 20px;
}


#iss {
	padding-top: 10px;
}
.img-fotos
{
	height: 190px !important;
}

.col-galeria{
	padding: 5px;
}


.titulo-topo {
	color: #FFFFFF;
	font-weight: bold;
}
.nav-justified>li>a {
	padding: 0 !important;
	color: #FFFFFF;
	text-decoration: none;
	transition: 1s;
	font-weight: bold !important;
}
.nav-justified>li>a:hover {
	color: blue;
	background-color: transparent !important;
	text-decoration: none;
	transition: 1s;
	font-weight: bold !important;
}
.nav-justified>li {
	padding: 15px;
	background-color: #333333;
	transition: 1s;
	}
.nav-justified {
	position: fixed;
	z-index: 999999;
}

.nav-justified>li:hover {
	background-color: #F1F1F1;
	transition: 1s;
	color: blue;
}

.nav-justified>li:hover>a {
	color: blue;
}
.nav {
	padding: 0 !important;
	margin: 0 !important;
	background-image: none !important;
	margin-bottom: 10px;
	margin-left: -15px !important;
}
.navbar {
	border: 0 !important;
	margin-bottom: 35px !important;
}

.header-menu{
	padding: 0;
}

#slogan:hover {
	position: fixed;
	width: 175px;
	z-index: 999999;
	-webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;    
}

#slogan:not(:hover) {
	width: 105px;
	-webkit-transition: width 2s, height 4s; /* Safari */
    transition: width 2s, height 4s;    
}
#slogan{
	cursor: pointer
}

.arrows-gallery-photos>.fa-caret-square-o-left {
	transition: 0.5s;
	font-size: 35px;
	color: #333;
}

.arrows-gallery-photos>.fa-caret-square-o-right {
	color: red;
	transition: 0.5s;
	font-size: 35px;
	color: #333;
}

.arrows-gallery-photos>.fa-caret-square-o-left:hover {
	color: blue;
	cursor: pointer;
	transition: 0.5s;
	color: #6f6f6f;
}

.arrows-gallery-photos>.fa-caret-square-o-right:hover {
	color: blue;
	cursor: pointer;
	transition: 0.5s;
	color: #6f6f6f;
}
.glyphicon-remove {
	color: #333;
	font-size: 25px;
}

.col-descricao-fotos
{
	background-color: #f9f9f9;
	padding: 5px;
	min-height: 66.4545px !important;
}
.col-descricao-iss {
	background-color: #f9f9f9;
	padding: 2px;
	min-height: 50px !important;
}
.col-descricao-series
{
	background-color: #f9f9f9;
	padding: 3px;
	min-height: 602px;
	padding: 15px;
}
@media (max-width: 991px) { 

	.col-descricao-series
	{
		background-color: #f9f9f9;
		padding: 3px;
		min-height: 538px;
		padding: 15px;
	}
}

@media (max-width: 767px) { 

	.col-descricao-series
	{
		background-color: #f9f9f9;
		padding: 3px;
		min-height: auto;
		padding: 15px;
	}
}

.img:hover {
	border: 3px #333388 solid;
}

@media (min-width: 992px) { 
	.img{
		height: 185px;
		width: 100%;
	}
}

@media (max-width: 991px) { 
	.img{
		height: 175px;
		width: 100%;
	}
}
.bglight {
	background-color: #EAEAEA;
	padding: 20px;
}
.bgdark {
	background-color: #DADADA;
	padding: 20px;
}
.titulo_series {
	text-decoration: underline;
}
.titulo_conquistas {
	text-decoration: underline;
	font-size: 26px;
	color: #4444BB;
	cursor: pointer;
}
.glyphicon {
	font-size: 28px !important;
	cursor: pointer;
}
#rodape {
	background-color: #333333;
	padding-top: 15px;
	padding-bottom: 15px;
}

.cols-rodape{
	margin-top: 10px;
	margin-bottom: 5px !important;
}
.cols-contatos-rodape{
	padding-top: 3%;
}


.links-rodape {
	color: black;
	transition: 0.5s;
	font-size: 16px;
	color: white;
}

.links-rodape:hover{
	text-decoration: none;
	color: white;
}

.links-rodape:hover .fa-whatsapp{
	color: #2AB200;
}

.links-rodape:hover .fa-envelope{
	color: #F7BE4B;
}

.linha-rodape{
	background-color: black;
	padding-top: 10px;
	color: white;
	font-size: 12px;
	padding: 5px;
}
.btn-pag {
	padding: 15px !important;
	background-color: #333;
	color: white
}

.btn-pag:hover {
	border: 2px solid white;
	color: white !important;
}

.btn-pag:focus {
	color: white !important;
	outline: none;
}


#numero {
	display: inline;
}









